@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Serif', serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #538dfa;
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgb(171, 165, 165);
    padding: 25px 30px;
    border-radius: 7px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #094872, hsl(219, 10%, 68%));
}

.input_box input{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 100%;
    border-radius: 5px;
    height: 45px;
    border: 0px white;
    box-shadow: 0px 4px 8px 0px rgb(171, 165, 165);
}

textarea:focus, input:focus{
    outline: none;
}

.input_box .labels{
    font-size: 15px;
}

.input_box .inputbox input{
    width: 200px;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px rgb(101, 100, 100);
    border: none;
    background-color: white;
    cursor: pointer;
}

.input_box .inputbox input[type="submit"]:hover{
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
    background: green;
    color: white;
}

.input_box .inputbox input[type="reset"]:hover{
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
    background: red;
    color: white;
}