* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  background-color: #538dfa;
}

.navbar {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  justify-content: space-between;
  padding: 20px;
  background-color: #6359ef;
  color: rgb(255, 255, 255);
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo{
  height: 30px;
}

.logo img{
  border-radius: 5px;
  height: 100%;
  object-fit: fill;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #538dfa;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  padding: 1em 0;
  position: absolute;
  /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li+li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.services:hover .dropdown {
  display: block;
}

input[type=checkbox] {
  display: none;
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    border-radius: 10px;
    z-index: 1000;
    display: none;
    width: 90%;
    position: absolute;
    background-color: #6359ef;
    right: 5%;
    left: 5%;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    transition: 0.3s ease;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
}



.card {
  background-color: #538dfa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.flip-card {
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  border-radius: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  background-color: #6359ef;
}

.flip-card-front,
.flip-card-back {
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: white;
}

.flip-card-back {
  background-color: #6359ef;
  color: white;
  transform: rotateY(180deg);
  justify-content: center;
  align-items: center;
}