@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    font-size: large;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  background-color: white;
}

.navbar {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  justify-content: space-between;
  padding: 20px;
  background-color: #6359ef;
  color: rgb(255, 255, 255);
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  height: 30px;
}

.logo img {
  border-radius: 5px;
  height: 100%;
  object-fit: fill;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #538dfa;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  padding: 1em 0;
  position: absolute;
  /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li+li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.services:hover .dropdown {
  display: block;
}

input[type=checkbox] {
  display: none;
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    border-radius: 10px;
    z-index: 1000;
    display: none;
    width: 90%;
    position: absolute;
    background-color: #6359ef;
    right: 5%;
    left: 5%;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    transition: 0.3s ease;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
}

.admin_appointment_div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 15px;
  padding: 30px;
}

.admin_appointment_div div{
  background: rgb(58, 57, 57);
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgb(107, 104, 104);
  border-radius: 20px;
  text-align: center;
  overflow-y: hidden;
}

.admin_appointment_div div div{
  width: 100%;
  height: 150px;
  border-radius: 50%;
  box-shadow: none;
  text-align: center;
}

.admin_appointment_div div div img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.admin_appointment_div div h1, h2{
  color: white;
}

.admin_appointment_div div button{
  padding: 10px;
  border-radius: 10px;
  background: white;
  color: #6359ef;
  border: none;
  margin-top: 20px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bolder;
  margin-bottom: 20px;
}