body {
    margin: 0;
    font-family: sans-serif;
    width: 90%;
    height: 90%;
}

.outer_contacts {
    position: relative;
    left: 50px;
    top: 20px;
}

.list_of_contact {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}

.list_of_contact .contacts {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.contacts {
    padding: 5px 5px 5px 5px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px lightgrey;
}

.hide {
    display: none;
}

.delete_icon:hover+.hide {
    position: fixed;
    display: inline;
    color: red;
    background-color: white;
    box-shadow: 4px 4px 4px 0px lightgrey;
    padding: 10px;
    border-radius: 20px;
}

.form {
    text-align: center;
    border-left: 1px solid black;
    padding-left: 50px;
}

.form input {
    padding: 10px;
    border-radius: 20px;
    width: 80%;
    height: 30px;
}

.form input:not(:first-child) {
    margin-top: 20px;
}

button {
    border: 0;
    box-shadow: 0 4px 4px 0 lightgrey;
    margin-top: 20px;
    width: 30%;
    height: 40px;
    border-radius: 20px;
}

#add:hover {
    background: green;
}

#cancel:hover {
    background: red;
}

.small_form {
    display: none;
}

@media (max-width: 1350px) {
    .form {
        display: none;
    }

    .small_form {
        display: block;
        text-align: center;
        margin-left: 10%;
    }

    .list_of_contact {
        width: 100%;
        position: static;
        left: 0;
        display: grid;
        justify-content: center;
    }

    .outer_contacts {
        position: static;
        left: 0;
        text-align: center;
        width: 100%;
        margin: 5%;
    }

    .small_form input {
        padding: 10px;
        border-radius: 20px;
        width: 80%;
        height: 30px;
        max-width: 300px;
    }

    .small_form input:not(:first-child) {
        margin-top: 20px;
    }

    button {
        border: 0;
        box-shadow: 0 4px 4px 0 lightgrey;
        margin-top: 20px;
        width: 30%;
        height: 40px;
        border-radius: 20px;
        max-width: 150px;
    }

    #add1:hover {
        background: green;
    }

    #cancel1:hover {
        background: red;
    }
}